on:
  push:
    branches:
      - main
  workflow_dispatch:

name: Deploy website to webhosting
jobs:
  web-deploy:
    name: Deploy
    environment: Production
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.ftp_server }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: ${{ secrets.server_dir }}
