on:
  push:
    branches:
      - develop
  pull_request:
  workflow_dispatch:

name: Deploy development website to webhosting
jobs:
  web-deploy:
    name: Dev deploy
    environment: Development
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.ftp_server }}
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: ${{ secrets.dev_server_dir }}
